<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main">
        <p>Hello! I am <strong>Abhishek</strong>, a Software Engineer from Gurgaon, India."</p>
        <br>
        <p>An experienced Java developer who has a track record of successfully creating apps that are both well-received and commercially viable.
        
        </p>
        <p>
            I enjoy working on side projects to upskill myself and learn new stuff. Not only skilled in JAVA, but also proficient in Front-end development and Cloud Computing and Angular. I have built some front end projects using it, including this website.
        </p>
        </div>
        

</body>
</html> -->
<div class="container mt-3">        
    <img src="/assets/images/myimg.jpeg" class="rounded-circle mx-auto d-block img-fluid" alt="Cinque Terre" width="350" height="480"> 
  </div>
 <div class="main" style="text-align: center">
<div class="container pt-5 mt-5">
    <p>Hello! I am <strong>Abhishek</strong>, a Software Engineer from Gurgaon, India."</p>
        <br>
        <p>An experienced Java developer who has a track record of successfully creating apps that are both well-received and commercially viable.
        
        </p>
        <p>
            I enjoy working on side projects to upskill myself and learn new stuff. Not only skilled in JAVA, but also proficient in Front-end development and Cloud Computing and Angular. I have built some front end projects using it, including this website.
        </p>
  </div>

<app-foot></app-foot>
