<div class="container mt-5">
    <h1><span class="txt-type text-secondary blink">Meet and Greet</span></h1>
</div>
<div class="main">
    <ul>
    <li> <a href="www.facebook.com">Facebook</a> </li>
        <li> <a href="linkedin.com/in/abhisheky7">Linkedin</a> </li>
        <li> <a href="https://github.com/Abhiiydv">Github</a> </li>
        <li> <a href="https://outlook.live.com/mail/abhishekydv98@outlook.com">Email</a> </li>
    </ul>
</div>
<footer class="footer">Copyright@2022 Abhishek</footer>


