
<div class="container">

    <div class="row">


    </div>
    <div class="row mt-5">

        <h4>Education</h4>
<p>I'm currently interested and curious to learn about System Design and Cloud Native technologies like Docker, Kubernetes, etc for building highly scalable applications and products. I have also always wanted to learn UI/UX design . That's a lot of learning to do, but I will get there eventually.

When I'm not coding, I would probably be watching a movie or a series. I'm really a movie buff and watch a lot of mo
</p>
<h4>Schooling</h4>
<p>I'm currently interested and curious to learn about System Design and Cloud Native technologies like Docker, Kubernetes, etc for building highly scalable applications and products. I have also always wanted to learn UI/UX design . That's a lot of learning to do, but I will get there eventually.

When I'm not coding, I would probably be watching a movie or a series. I'm really a movie buff and watch a lot of mo
</p>
<h4>Skills</h4>
<p>I'm currently interested and curious to learn about System Design and Cloud Native technologies like Docker, Kubernetes, etc for building highly scalable applications and products. I have also always wanted to learn UI/UX design . That's a lot of learning to do, but I will get there eventually.

When I'm not coding, I would probably be watching a movie or a series. I'm really a movie buff and watch a lot of mo
</p>

    </div>

</div>
