<div class="container-fluid">

   <div class="row blank mt-5">


      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">

      </div>

   </div>
   <div class="row mt-5">


      <div class="col-sm-2">


      </div>
      <div class="col-sm-8 mt-5 text-center">

         <h1 class="font-bold text-3xl md:text-5xl lg:text-6xl tracking-tight text-dark dark:text-light">Hi, I am <span class="text-primary dark:text-secondary">Abhishek Yadav</span></h1>
         <h4>I am a <span class="txt-type text-secondary blink">Full Stack Java Developer</span></h4>

      </div>

      <div class="col-sm-2">

      </div>

   </div>


</div>

<app-foot></app-foot>
   